.header {
    z-index: 5;
}

.topFix {
    width: 85%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 43px;
    /* justify-items: space-between; */
    align-items: end;
}

.navFix {
    width: 85%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(110px - 43px);
    align-items: center;
    /* justify-items: center; */
}

.navFix .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.navFix .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 22px 32px;

}

.navFix .dropdown:hover .dropdownContent {
    display: grid;
    grid-template-areas: "1 2 3 image" "4 5 6 image";
    justify-items: center;
    align-items: center;
    z-index: 10;
    color: #000;

}

.topFix .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.topFix .dropdownContent {
    display: none;
    position: absolute;
    /* top: 0; */
    right: 0;
    background-color: #f9f9f9;
    min-width: 25vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;


}

.topFix .dropdown:hover .dropdownContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    z-index: 10;
    color: #000;

}

.topFix a {
    text-decoration: none;
    color: white;
}

.topFix .topL a {
    margin-right: 25px;
}

.topFix .topR a {
    margin-left: 25px;
}


.navFix .navL .dropdown {
    margin-right: 35px;
}

.navFix .navR .dropdown {
    margin-left: 35px;
}